body, html {
  width: 250px;
  height: 200px;
  padding: 0;
  margin: 0;
  border: 1px solid green;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}



#first-box {
  width: 248px;
  height: 60px;
  background: red;
  border-radius: 25px 25px 0px 0px;
  color: white;
}
#second-box {
  width: 248px;
  height: 79px;
  background: whitesmoke;
  justify-content: center;
  align-items: center;
  display: flex;
}
#third-box {
  width: 248px;
  height: 60px;
  background: red;
  border-radius: 0px 0px 25px 25px;
}